extends layout

block content
  h1 Résultats de la recherche
  canvas(id="barChart")
  canvas(id="barChartAvg")
  canvas(id="barChartStrdDev")

  button(type="button", id="resetButton") Reset

  if passengers.length > 0
    ul
      each passenger in passengers
        li= `${passenger.Name}, ${passenger.Age}`

  else
    p Aucun passager ne correspond à votre recherche.

 

  // fichier JavaScript barGraph.js
  script(src="barGraph.js")
    
  // appel de la fonction createBarChart avec les données passées
  script.
    const labels = ['Survivants', 'Non-survivants'];
    const chartData = !{JSON.stringify(chartData)}; //
    createBarChart(labels, chartData, "barChart", "bar");
    const labelsAvg = ['Moyenne d\'age survivant', 'Moyenne d\'age Non-survivants'];
    const chartDataAvg = !{JSON.stringify(chartDataAvg)}; //
    createBarChart(labelsAvg, chartDataAvg, "barChartAvg", "doughnut");
    const labelsStrdDev = ['Ecart type age survivant', 'Ecart type age Non-survivants'];
    const chartDataStrdDev = !{JSON.stringify(chartDataStrdDev)}; //
    createBarChart(labelsStrdDev, chartDataStrdDev, "barChartStrdDev", "pie");


    
